.caja1{
    display: flex;
    justify-content: center;
    /* background-color: peru; */
}



.col1{
    width:30%;
    background-image: url("https://img.motor16.com/articulos/15000/15598_e4HJP7oF2R6B3-p1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130% 80%;
    height: 55vh;
    margin: 8px;
}

.col2{
    width:30%;
    background-image: url("https://s1.1zoom.me/b6653/458/Chevrolet_2018_Tahoe_Wine_color_SUV_540896_1366x768.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130% 80%;
    height: 55vh;
    margin: 8px;

}

.col3{
    width:30%;
    background-image: url("https://i.blogs.es/d3da82/mas-exportados/450_1000.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130% 80%;
    height: 55vh;
    margin: 8px;

}

.col1 h2{
    background-position: center;
    background-color: beige;
    margin: 5px;
    margin-top: 360px;
    text-align: center;
}

.col2 h2{
    background-position: center;
    background-color: beige;
    margin: 5px;
    margin-top: 360px;
    text-align: center;
}

.col3 h2{
    background-position: center;
    background-color: beige;
    margin: 5px;
    margin-top: 360px;
    text-align: center;
}

.col1 button{
    width: 100%;
    background-color: peru;
    font-size: 1.2rem;
}

.col1 button:hover{
    color: peru;
    background-color: rgb(0, 0,0.5);
}

.col2 button{
    width: 100%;
    background-color: peru;
    font-size: 1.2rem;
}

.col2 button:hover{
    color: peru;
    background-color: rgb(0, 0,0.5);
   
}

.col3 button{
    width: 100%;
    background-color: peru;
    transform-origin: top;
    font-size: 1.2rem;
}

.col3 button:hover{
    color: peru;
    background-color: rgb(0, 0,0.5);
  
}